@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root { 
    --black: #141414;
    --dark-grey: #1F1F1F;
    --white: #fff;
    --neon-green: #ffc813;
    --grey: #333;
}

body {
    background-color: #141414;

    border: 1px solid red;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #1f1f1f;
    color:white ;
    width: 384px;
    text-align: center;
    border-radius: 12px;
    padding: 40px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 24px;
}

h1{ 
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 4px;
 }

 ul, li {
    list-style: none;
 }

 strong{
    color: var(--neon-green);
    font-size: 14px;
 }

 p{ 
    margin-block: 24px;
    font-size: 14px;
 }
 a{
    display: block;
    background-color: var(--grey);
    margin-bottom: 16px;
    color: var(--white);
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
 }
 a:hover {
    background-color: var(--neon-green);
    color: var(--grey);
    transition: 0.3s; 
 }
 